<launch>
  <!-- ======== LAUNCH ARGUMENTS ======== -->
  <arg name="paused" default="false"/> <!-- Start unpaused -->
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>

  <!-- Use simulated clock -->
  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <!-- ======== START GAZEBO ======== -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- ======== LOAD ROBOT DESCRIPTION ======== -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find balance_bot)/urdf/balance_bot.urdf.xacro'" />

<!-- Publish TF tree -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

  <!-- ======== SPAWN ROBOT IN GAZEBO ======== -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
      args="-urdf -param robot_description -model balance_bot -x 0 -y 0 -z 0.06 -R 0 -P 0 -Y 0"
      output="screen" />


  


</launch>
